@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Estilos Navbar */
.navbar {
    background-color: #FFF540;
    color: #000000;
  }
  .logoNav{
    width: 80px;
    height: 80px;
  }

  .imgCarousel{
    width: 100%;
    height: 450px;
  }

  /* Estilos LandingPage */
  .divLandingPage {
    background-image: url("./assets/img/fondo-campo-futbol-degradado_52683-65681.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
  
}
.divInfoContainer{
  width: 98%;
  height: 50%;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

.logoImage {
    width: 92%;
    height: auto;
}

.textParagraphLanding {
  font-weight: 700;
    color: #FFFFFF;
}


.landingButton {
  padding: 10px 20px;
  width: 150px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
}
.landingButton-reg{
  background-color: #9C2E7B;
}
.landingButton-reg:hover{
  background-color: #FFF540;
  color: #282820;
}
.landingButton-log{
  background-color: #282820;
}
.landingButton-log:hover{
  background-color: #FFF540;
  color: #282820;
}
/* MARQUEE DEL HOME, TXT EN MOVIMIENTO */
.marquee-container {
  width: 100%;
  color: white;
  background-color: #000;
}

.marquee {
  height: 25px;
  width: 50%;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.marquee div {
  display: block;
  width: 250%;
  height: 30px;
  position: absolute;
  overflow: hidden;

  animation: marquee 9s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -125%;
  }
}

/* Estilos SignUp */

.containerSignUp {
  background-image: url("./assets/img/fondo-campo-futbol-degradado_52683-65681.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divContentSignUp {
  background-color: #FFF540; 
  width: 60%;
  height: auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.signup-input {
  margin-bottom: 15px;
}

.password-container {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.container-btn {
 display: flex;
 justify-content: center !important;

}

.sesion-submit, .signup-submit {
  width: 48%; 
  background-color: #9C2E7B !important;
  color: #FFFFFF !important;
}
.sesion-submit:hover {
  background-color: #FFF540 !important;
  color: #282820 !important;
}
.signup-submit:hover{
  background-color: #FFF540 !important;
  color: #282820 !important;
}
/* Media query SignUp para pantallas pequeñas (sm) */
@media (max-width: 576px) {
  .divContentSignUp {
    width: 95%;
  }
}
/* Media query SignUp para pantallas medianas (md)*/
@media (min-width: 577px) and (max-width: 768px) {
  .divContentSignUp {
    width: 80%;
  }
}


/* Estilos Login */

.containerLogin {
  background-image: url("./assets/img/fondo-campo-futbol-degradado_52683-65681.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divContentLogin {
  background-color: #FFF540; 
  width: 60%;
  height: auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.login-input {
  margin-bottom: 15px;
}

.password-container {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.container-btn {
  display: flex;
  justify-content: space-between;
}

.sesion-submit, .login-submit {
  width: 48%; 
  background-color: #9C2E7B !important;
  color: #FFFFFF !important;
}
.sesion-submit:hover {
  background-color: #FFF540 !important;
  color: #282820 !important;
}
.login-submit:hover{
  background-color: #FFF540 !important;
  color: #282820 !important;
}

/* Media query Login para pantallas pequeñas (sm) */
@media (max-width: 576px) {
  .divContentLogin {
    width: 95%;
  }
}
/* Media query Login para pantallas medianas (md)*/
@media (min-width: 577px) and (max-width: 768px) {
  .divContentLogin {
    width: 80%;
  }
}


  /* Estilos AboutUs */
  .containerAboutUs {
    background-image: url("./assets/img/fondo-campo-futbol-degradado_52683-65681.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .divContentAboutUs {
    background-color: #FFF540; 
    width: 60%;
    height: auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  .imgContainer img {
    width: 60%;
    height: auto;
  }
  /* Media query AboutUs para pantallas pequeñas (sm) */
@media (max-width: 576px) {
  .divContentAboutUs {
    width: 95%;
  }
}
/* Media query AboutUs para pantallas medianas (md)*/
@media (min-width: 577px) and (max-width: 768px) {
  .divContentAboutUs {
    width: 80%;
  }
}


/* Estilos Buscador */
.containerBuscador{
  display: flex;
  justify-content: center;
}
.buscador{
  width: 50% !important;
}

/* Estilos home */
.containerBtnSort{
  display: flex;
  justify-content: center;
}
.btn-sort{
  background-color: #9C2E7B !important;
  color: #FFFFFF !important;
}
.btn-sort:hover{
  background-color: #FFF540 !important;
  color: #282820 !important;
}
  /* Estilos Card Tienda */
  .ulCards li{
    list-style: none;
  }
  .btn-card{
    background-color: #9C2E7B !important;
    color: #FFFFFF !important;
  }
  .btn-card:hover{
    background-color: #FFF540 !important;
    color: #282820 !important;
  }
  
  /* Estilos Profile */
 
.fotoPerfil {
  width: 250px;
  height: 250px;
  margin: 2rem 0;
  border-radius: 50%;
  border: 1px solid black;
  object-fit: cover;
}

.tab-principal {
  display: block !important;
}

.container-profileView {
  display: flex;
}

.editar-perfil-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btns-perfil {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}

.btn-editarPerfil {
  background-color: #9C2E7B !important;
}

.btn-editarPerfil:hover {
  background-color:#FFF540 !important;
  color: #282820 !important;
}

.btn-cerrar-sesion-boton {
  background-color:#9C2E7B !important;
}
.btn-cerrar-sesion-boton:hover {
  background-color:#FFF540 !important;
  color: #282820 !important;
}

.btn-cerrar-sesion {
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  margin: 0.2rem 0.2rem;
}
.btn-cerrar-sesion:hover {
  color: rgb(85, 85, 85);
}

.boxDatos-miPerfil {
  background-color:#282820;
  text-decoration: none;
  color: #FFFFFF;
}
.boxDatos-miPerfil li ul {
  list-style: none;
}
.boxDatos-miPerfil ul {
  padding: 0;
  list-style: none;
  font-weight: bold;
}

.btn-guardar-cambios {
  background-color:#9C2E7B !important;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 50%;
}
.btn-guardar-cambios:hover {
  background-color:#FFF540 !important;
  color: #282820 !important;
}

/* Estilos Favorites */
.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.favorite-card {
  width: 250px; 
  margin: 10px;
}

.favorite-card-img {
  width: 100%;
  height: auto;
}

.favorite-card-body {
  padding: 10px;
}

.favorite-card-title {
  font-size: 14px; 
}

.favorite-card-text {
  font-size: 14px; 
}
.li-favorites{
  list-style: none;
  font-size: 12px;
  text-align: start;
}
.favorite-card-price {
  font-size: 16px; 
}
.btn-favorites{
  background-color: #9C2E7B !important;
  color: #FFFFFF !important;
}
.btn-favorites:hover{
  background-color: #FFF540 !important;
  color: #282820 !important;
}

/* Estilos Details */
.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.icon-heart {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 0;
}
.ulDetails li{
  list-style: none;
}
.btn-details{
  background-color: #9C2E7B !important;
  color: #FFFFFF !important;
}
.btn-details:hover{
  background-color: #FFF540 !important;
  color: #282820 !important;
}


/* Estilos para  visualizar iconHeart */
  .image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.card-img-top {
    width: 100%;
    height: auto;
}
.icon-heart {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 0;
}

/* Estilos Carrito */
.carrito{
  background-image: url("./assets/img/fondo-campo-futbol-degradado_52683-65681.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-bottom: 50px;
}
.carritoContent{
  background-color: #FFF540 !important;
  width: 95%;
}
.btn-pay{
  background-color: #9C2E7B !important;
  color: #FFFFFF !important;
}
.btn-pay:hover{
  background-color: #FFF540 !important;
  color: #282820 !important;
}

/* Footer */
  .footer{
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
  }
  .footerContent{
    display: flex;
    justify-content: space-around;
  }
  .footer-form{
    width: 48%;
  }
  .btn-footer{
    background-color: #9C2E7B !important;
    width: 150px;
  }
  .btn-footer:hover{
    background-color: #FFF540 !important;
    color: #282820 !important;
  }
  .footer-rrss{
    width: 48%;
  }
  .ul-rrss{
    text-align: start;
  }
  .ul-rrss li{
    list-style-type: none;
  }

  /* Media Queries footer */
@media screen and (max-width: 768px) {
  .footer-rrss .ul-rrss li {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 576px) {
  .footer-rrss  .ul-rrss li {
    font-size: 0.6em;
  }
}

/* Estilos Notfound */
.error{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .error h1 {
    font-size: 16px;
  }
  .error p{
    font-size: 12px;
  }
}